@font-face 
{
    font-family: "TH SarabunPSK";
    src: url(THSarabun.ttf);
}

@font-face 
{
    font-family: "TH SarabunPSK";
    src: url(THSarabun\ Bold.ttf);
    font-weight: bold;
}

*
{
    font-family: "TH SarabunPSK";
}

.result
{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.contain
{
    position: relative;
    text-align: center;
    color: white;
}

.centered 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1
{
    font-size: 30pt;
    text-align: center;
}